@use "../abstracts/Variables.scss" as vars;
@use "../abstracts/Mixins.scss" as mixin;

#appearance-tab {
  .settings-body {
    .group {
      --tn-brand-color-height: 150px;
      width: 100%;
      height: var(--tn-brand-color-height);
      border-radius: 15px;
      border: 2px solid var(--tn-theme-accent);
      padding: .1rem;

      label {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0;
        width: 100%;
        height: 100%;
        scale: 0.95;

        span {
          display: block;
          width: 50%;
          height: auto;
          min-height: calc(var(--tn-brand-color-height)/3);
          padding: 1rem;
          gap: 2;
        }

        &:focus {
          scale: 0.5;
        }
      }

      &:has(input:checked) {
        border: 2px solid var(--tn-theme-accent);
        outline: 3px solid var(--tn-theme-accent);
        outline-offset: 2px;
        border-radius: 10px;
      }

      &:has(input:focus-visible) {
        outline: 3px solid var(--tn-color-text);
        outline-offset: 2px;
        border-radius: 10px;
      }
    }
  }
}

#appearance-tab {
  .settings-body {
    .group {
      label {
        @include mixin.theme-colors(dark, (primary: vars.$tn-theme-primary-dark,
            secondary: vars.$tn-theme-secondary-dark,
            accent: vars.$tn-theme-accent-dark,
            contrast: vars.$tn-theme-contrast-dark ));

        @include mixin.theme-colors(light, (primary: vars.$tn-theme-primary-light,
            secondary: vars.$tn-theme-secondary-light,
            accent: vars.$tn-theme-accent-light,
            contrast: vars.$tn-theme-contrast-light ));

        @include mixin.theme-colors(rose, (primary: vars.$tn-theme-primary-cozy-rose,
            secondary: vars.$tn-theme-secondary-cozy-rose,
            accent: vars.$tn-theme-accent-cozy-rose,
            contrast: vars.$tn-theme-contrast-cozy-rose ));

        @include mixin.theme-colors(aqua, (primary: vars.$tn-theme-primary-chill-aqua,
            secondary: vars.$tn-theme-secondary-chill-aqua,
            accent: vars.$tn-theme-accent-chill-aqua,
            contrast: vars.$tn-theme-contrast-chill-aqua ));

        @include mixin.theme-colors(forest, (primary: vars.$tn-theme-primary-wild-forest,
            secondary: vars.$tn-theme-secondary-wild-forest,
            accent: vars.$tn-theme-accent-wild-forest,
            contrast: vars.$tn-theme-contrast-wild-forest ));

        @include mixin.theme-colors(orbit, (primary: vars.$tn-theme-primary-neon-orbit,
            secondary: vars.$tn-theme-secondary-neon-orbit,
            accent: vars.$tn-theme-accent-neon-orbit,
            contrast: vars.$tn-theme-contrast-neon-orbit ));
      }
    }
  }
}