@use "sass:map";

// Breakpoints
$breakpoints: (
  'xs': 476px,
  // xs: 667px short mobiles (iPhone SE)
  'sm': 640px,
  // sm: 800px large mobiles
  'md': 768px,
  // md: 1024px vertical tablets
  'lg': 1024px,
  // lg: 768px tablets horizontal / small laptops
  'xl': 1280px,
  // xl: 800px laptops normal
  '2xl': 1536px) !default; // 2xl: 900px Larges Screens

// Mixin for media queries using breakpoint variable
@mixin respond-to($breakpoint) {

  // Verfied if the breakpoint exist
  @if map.has-key($breakpoints, $breakpoint) {
    // Get the value for the breakpoint
    $bp-value: map.get($breakpoints, $breakpoint
    );

  // Create the media query (first-mobile)
  @media (min-width: $bp-value) {
    @content;
  }
}

@else {
  // If the breakpoint doesn't exist, show an alert
  @warn "El breakpoint '#{$breakpoint}' no existe en el mapa $breakpoints. Breakpoints disponibles: #{map.keys($breakpoints)}";
}
}

// How to use:

// .element {
//   padding: 1rem;

//   @include respond-to('sm') {
//     padding: 1.5rem;
//   }

//   @include respond-to('lg') {
//     padding: 2rem;
//   }
// }

@mixin theme-colors($theme-name, $colors) {
  &[for="theme-color-#{$theme-name}"] {
    span:nth-child(1) {
      background-color: map.get($colors, primary);
      border-top-left-radius: 10px;
    }

    span:nth-child(2) {
      background-color: map.get($colors, secondary);
      border-top-right-radius: 10px;
    }

    span:nth-child(3) {
      background-color: map.get($colors, accent);
      border-bottom-left-radius: 10px;
    }

    span:nth-child(4) {
      background-color: map.get($colors, contrast);
      border-bottom-right-radius: 10px;
    }
  }
}

// How to use:

// #appearance-tab {
//   .settings-body {
//     .group {
//       label {
//         @include theme-colors(dark, (
//           primary: vars.$tn-theme-primary-dark,
//           secondary: vars.$tn-theme-secondary-dark,
//           accent: vars.$tn-theme-accent-dark,
//           contrast: vars.$tn-theme-contrast-dark
//         ));

//         @include theme-colors(light, (
//           primary: vars.$tn-theme-primary-light,
//           secondary: vars.$tn-theme-secondary-light,
//           accent: vars.$tn-theme-accent-light,
//           contrast: vars.$tn-theme-contrast-light
//         ));

//         @include theme-colors(rose, (
//           primary: vars.$tn-theme-primary-rose,
//           secondary: vars.$tn-theme-secondary-rose,
//           accent: vars.$tn-theme-accent-rose,
//           contrast: vars.$tn-theme-contrast-rose
//         ));

//         // ... and so on
//       }
//     }
//   }
// }